:root {
  --text-color: #eceff4;
  --background-color: #2e3440;
  --header-color: #3b4252;
  --footer-color: #3b4252;
  --button-color: #3b4252;
  --border-color: #d8dee9;
}

html {
  font-family: sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Manjari", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 14px;
  height: 100vh;
  margin: 0;
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

main {
  grid-area: main;
  padding: 2em;
}

header {
  grid-area: header;
  padding: 1em 2em;
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  grid-template-areas: "title compile save";
  align-content: end;
}

a {
  color: var(--primary-color);
}

footer {
  padding: 1em 2em;
  font-size: 1em;
  border-top: 1px solid var(--border-color);
  background-color: var(--footer-color);
  grid-area: footer;
  margin-top: 4em;
}

h1 {
  margin: 0;
  padding: 10px 0;
  grid-area: title;
}

.container {
  display: grid;
  padding: 0;
  background-color: var(--background-color);
  grid-template-columns: 3fr 1fr;
  height: 5vh;
}

form {
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 1fr;
}

#prompt{
    height: 2rem;
    font-size: 1.5em;
    font-family: "Manjari", sans-serif;
}

#result{
    font-size: 1.4rem;
    font-family: "Manjari", sans-serif;
    line-height: 1.5;
    max-width: 100ch;
}

button {
  padding: 10px;
  font-weight: 800;
  background-color: var(--button-color);
  color: var(--text-color);
  /* border: 1px solid var(--border-color); */
  border: none;
  max-width: 20vw;
  cursor: pointer;
}



progress {
  height: 4px;
  width: 100%;
  display: none;
  min-width: 50%;
}
